body {
    background-color: #163020;
    
}

img {
    width: 100%;
    margin-top: 25p;
}

h1 {
    color: #B6C4B6;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    text-align: center;
}

p {
    color: #B6C4B6;
    text-align: center;
    padding: 10px;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #304D30;
    box-shadow: 1px 1px 10px 0px #EEF0E5;
  }
  